html {
  height: 100%;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  justify-content: center;
}

.left img {
  width: 23px;
  height: 23px;
}

.container {
  max-width: 100vw;
  margin: auto;
}


nav {
  font-size: 12px;
}

nav ul li {
  list-style: none;
  padding: 0 12px;
}

.section1 {
  background: #fcf7f7;
  height: 200vh;
}



.homeImg {
  width: 97vw;
  margin: 12px 0;
}

.image-container {
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;
  /* Prevent images from wrapping to the next line */

}

/* Header style for profile  ,wishlist and bag  */

.header ul li a:hover {
  color: #091181;
}

.right .nav-item .submenu {
  display: none;
  position: absolute;
  /* width: 40vw;
  height: 40vw;
  text-align: left; */
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  box-shadow: 0 20px 45px rgb(3, 2, 2, 0.15);
  z-index: auto;

  transition: all ease 0.5s;
}

.right .nav-item:hover {
  opacity: 1;
  /* Make it visible */
  margin-top: 0;
  /* Adjust positioning */
}

.right .submenu li {
  padding: 5px
}

.right .submenu a {
  text-decoration: none;
  color: black;
  display: table;
}

.right .submenu a:hover {
  background-color: #f0f0f0;
}

.right .nav-item:hover .submenu {
  display: block;
}

/* submeu style for left side "men","womens" etc */

.navbar-nav .nav-item .submenu {
  display: none;
  position: absolute;
  width: 40vw;
  height: 40vw;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 0px;
  box-shadow: 0 20px 45px rgb(3, 2, 2, 0.15);
  z-index: auto;

  transition: all ease 0.5s;
}

.navbar-nav .nav-item:hover {
  opacity: 1;
  /* Make it visible */
  margin-top: 0;
  /* Adjust positioning */
}

.navbar-nav .nav-item:hover .submenu {
  display: block;
}

.navbar-nav .nav-item .submenu a {
  text-decoration: none;
  color: black;
  display: table;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #091181;
  /* Example hover color */
}

.navbar-nav .nav-item .nav-link {
  color: #333;
  /* Example color */
  padding: 10px 15px;
  /* Example padding */
}

.navbar-nav .nav-item .submenu li a:hover {
  /* Hover effect for the first submenu item */
  color: #091181;
  /* Example hover color */
}

.nav-item i {
  font-size: 20px;
}

/*Search bar button  */
.btn-outline-secondary {
  border: 1px solid black;
  color: black;
}

.btn-outline-secondary:hover {
  background-color: #f0f0f0;
  color: black;
}

.modal-body .input-group {
  width: 100%;
}
